<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fit Folder – Login</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
  </head>
  <body>
    <header>
      <a href="{{ url_for('auth.dashboard') }}" class="logo"
        >Fit<span>Folder</span></a
      >

      <div class="nav-center">
        <a
          href="{{ url_for('workout.log_workout') }}"
          class="btn btn-outline btn-nav"
          >Add Workout</a
        >
        <a
          href="{{ url_for('workout.view_progress') }}"
          class="btn btn-outline btn-nav"
          >Statistics</a
        >
        <a href="#" class="btn btn-outline btn-nav">Recommended</a>
      </div>

      <nav>
        {% if username %}
        <span class="nav-username">{{ username }}</span>
        <a href="{{ url_for('auth.logout') }}" class="btn btn-ghost">Log out</a>
        {% else %}
        <a href="{{ url_for('auth.login') }}" class="btn btn-outline">Login</a>
        <a href="{{ url_for('auth.register') }}" class="btn btn-outline"
          >Register</a
        >
        {% endif %}
      </nav>
    </header>
    <div
      style="
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <div class="login-card">
        <h2>Login</h2>
        <form method="POST" action="{{ url_for('auth.login') }}">
          <div class="input-group">
            <label>Username</label>
            <input
              type="text"
              name="username"
              placeholder="Enter username"
              required
            />
          </div>
          <div class="input-group">
            <label>Password</label>
            <input
              type="password"
              name="password"
              placeholder="Enter password"
              required
            />
          </div>
          <button type="submit">Log In</button>
        </form>
      </div>
    </div>

    <footer>© 2026 FitFolder</footer>
  </body>
</html>
